* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* Navbar style */
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navLogo {
    display: flex;
    align-items: center;
    gap: 11px;
}

.navTitle {
    color: rgba(17, 17, 17, 1);
    font-family: Quicksand;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.navItemAll>ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.navItemAll>ul a {
    text-decoration: none;
    font-family: Quicksand;
    font-style: Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.navItem_Color_Orange {
    color: rgba(254, 163, 1, 1);
}

.navItem_Color_SkyBlue {
    color: rgba(1, 172, 253, 1);
}

.navItem_Color_sky {
    color: rgba(5, 212, 223, 1);
}

.navItem_Color_Violet {
    color: rgba(93, 88, 239, 1);
}

.navButton {
    color: rgba(255, 255, 255, 1);
    font-family: Quicksand;
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 60px;
    background-color: rgba(254, 163, 1, 1);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.navMenu {
    display: none;
}

/* bannar section */
.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    gap: 50px;
}

.bannerHeading {
    font-family: Quicksand;
    font-style: Bold;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    padding-bottom: 24px;
    width: 550px;
}

.banerDetails {
    color: var(--Black, rgba(17, 17, 17, 1));
    width: 640px;
    font-family: Quicksand;
    font-style: Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 24px;
}

.banerBtn {
    color: rgba(255, 255, 255, 1);

    font-family: Quicksand;
    font-style: Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    background-color: black;
}

.banerImage img {
    width: 100%;
}

/* Standard Curriculum Section */
.curriculum_Section {
    background-image: url(../asstes/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section_Title {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: Quicksand;
    font-style: Bold;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    padding: 60px 0 80px 0;
}

.curriculum_Card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.curriculum_Card {
    padding: 52px 40px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
}

.cardBlue {
    background: linear-gradient(180.00deg, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
    border: 0.94px solid rgba(222, 245, 255, 1);
}

.cardOrange {
    background: linear-gradient(180.00deg, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
    border: 0.94px solid rgba(255, 244, 220, 1);
}

.cardViolet {
    background: linear-gradient(180.00deg, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
    border: 0.94px solid rgba(242, 232, 255, 1);
}

.curriculum_Card img {
    width: 100%;
}

.curriculum_Card h5 {
    color: rgba(32, 32, 32, 1);
    font-style: Bold;
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
}

.curriculum_Card p {
    color: rgba(128, 128, 128, 1);
    font-style: Medium;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
}

.card_Button {
    font-size: 16px;
    font-weight: 500;
    line-height: 28.3px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.slide_container {
    text-align: center;
    padding: 80px 0 60px 0;

}

.slide_btn {
    padding: 16px 16px;
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 50%;
    color: white;
    background-color: rgba(254, 163, 1, 1);
    border: none;
}

.storyItemContiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.story_Card {
    background-color: white;
    border-radius: 16px;
}

.story_Card img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;

}

.story_Bg {
    background: url(image), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.storyCardContent {

    padding: 0 36px 36px 36px;
}

.cardDate {
    padding: 15px 19px;
    border-radius: 48px;
    color: white;
    display: inline-block;
    margin-top: -30px;
    position: absolute;
}

.bg_sky {
    background-color: rgba(60, 216, 232, 1);
}

.storyCard_title {
    color: rgba(0, 0, 0, 1);
    font-family: Quicksand;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.35px;
    padding: 36px 0 51px 0;
}

.storyCard_Details {
    color: rgba(102, 102, 102, 1);
    font-family: Quicksand;
    font-style: Medium;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
}

.asideContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px;
}

.cardContent {
    padding: 0 38px 28px 38px;
}

.w-100 {
    width: 100%;
}

.storyItem_left {
    width: 46%;
}

.storyItem_right {
    width: 54%;
}

.cardTitle {
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 700;
    padding-top: 43px;
}

.bg_green {
    background-color: rgba(149, 178, 38, 1);
}

.bg_violet {
    background-color: rgba(93, 88, 240, 1);
}

footer {
    background: rgba(1, 172, 253, 1);
}

.sec_pading {
    padding: 100px 0 120px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footerLogo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.logoPart{
    width: 50%;
}
.LinkPart{
    width: 50%;
    display: flex;
    gap: 130px;
    /* justify-content: space-between; */
}
.footerLogo h2 {
    color: rgba(255, 255, 255, 1);
    font-family: Quicksand;
    font-style: Bold;
    font-size: 42.14px;
    font-weight: 700;
    line-height: 39.51px;
    padding-top: 34px;
}

.footerDetails {
    color: rgba(255, 255, 255, 1);
    font-family: Quicksand;
    font-style: Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    width: 400px;
    padding-top: 35px;
}

.footerLink h4 {
    color: rgba(255, 255, 255, 1);
    font-family: Quicksand;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 12px;
}

.footerLink ul {
    list-style: none;
}

.footerLink ul li {
    color: rgba(255, 255, 255, 1);
    font-family: Quicksand;
    font-style: Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 20px;
    cursor: pointer;
}
.socialLink{
    padding-top: 20px;

}
.socialLink img{
    padding-right: 10px;
}
/*      =================== ================ ===================         
        =================== Responsive  part ===================         
        =================== ================ ===================         */

@media screen and (max-width:576px) {
    .container {
        padding: 0 16px;
    }

    .navborder {
        border-bottom: 0.5px solid var(--Orange, rgba(254, 163, 1, 1));
    }

    .navLogo img {
        width: 46px;
    }

    .navTitle {
        display: none;
    }

    .navMenu {
        display: block;
    }

    .navContuct,
    .navItemAll {
        display: none;
    }

    .bannerContainer {
        flex-direction: column-reverse;
    }

    .bannerHeading {
        font-size: 32px;
        line-height: 40px;
        /* width: 320px; */
    }

    .banerDetails {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    .bannerHeading,
    .banerDetails {
        width: auto;
    }

    .banar_content {
        text-align: center;
    }

    .curriculum_Card_container {
        flex-direction: column;
    }

    .section_Title {
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
        padding: 40px 0 20px 0;
    }

    .slide_container {
        display: none;
    }

    .curriculum_Card {
        padding: 36px 20px;
        border-radius: 18px;
        text-align: center;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        gap: 22px;
        border-radius: 18.86px;
    }

    .curriculum_Card img {
        width: 92px;
    }

    .curriculum_Card h5 {
        font-size: 16.6px;
        font-weight: 700;
        line-height: 20.75px;
    }

    .curriculum_Card p {
        font-size: 10.22px;
        font-weight: 500;
        line-height: 19.16px;
    }

    .card_Button {
        font-size: 12px;
    }

    .storyItem_left {
        display: none;
    }

    .storyItem_right {
        width: 100%;
    }

    .asideContainer {
        gap: 11px;
    }

    .cardDate {
        padding: 6px 11px;
        border-radius: 28px;
        font-size: 10px;
        color: white;
        margin-top: -16px;
    }

    .cardContent {
        padding: 0 22px 17px 22px;
    }

    .cardTitle {
        font-size: 10px;
        font-family: Quicksand;
        font-weight: 600;
        padding-top: 43px;
    }
}