* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* Navbar style */
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navLogo {
    display: flex;
    align-items: center;
    gap: 11px;
}

.navTitle {
    color: rgba(17, 17, 17, 1);
    font-family: Quicksand;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.navItemAll>ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.navItemAll>ul a {
    text-decoration: none;
    font-family: Quicksand;
    font-style: Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.navItem_Color_Orange {
    color: rgba(254, 163, 1, 1);
}

.navItem_Color_SkyBlue {
    color: rgba(1, 172, 253, 1);
}

.navItem_Color_sky {
    color: rgba(5, 212, 223, 1);
}

.navItem_Color_Violet {
    color: rgba(93, 88, 239, 1);
}

.navButton {
    color: rgba(255, 255, 255, 1);
    font-family: Quicksand;
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 60px;
    background-color: rgba(254, 163, 1, 1);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.navMenu {
    display: none;
}

/* bannar section */
.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    gap: 50px;
}

.bannerHeading {
    font-family: Quicksand;
    font-style: Bold;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    padding-bottom: 24px;
    width: 550px;
}

.banerDetails {
    color: var(--Black, rgba(17, 17, 17, 1));
    width: 640px;
    font-family: Quicksand;
    font-style: Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 24px;
}

.banerBtn {
    color: rgba(255, 255, 255, 1);

    font-family: Quicksand;
    font-style: Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    background-color: black;
}

.banerImage img {
    width: 100%;
}

/* Standard Curriculum Section */
.curriculum_Section {
    background-image: url(../asstes/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section_Title {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: Quicksand;
    font-style: Bold;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    padding: 60px 0 80px 0;
}

.curriculum_Card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.curriculum_Card {
    padding: 52px 40px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
}
.cardBlue{
        background: linear-gradient(180.00deg, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
    border: 0.94px solid rgba(222, 245, 255, 1);
}
.cardOrange{
    background: linear-gradient(180.00deg, rgba(255, 244, 220, 1) 0%,rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);
}
.cardViolet{
    background: linear-gradient(180.00deg, rgba(238, 225, 255, 1) 0%,rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);
}
.curriculum_Card img {
    width: 100%;
}

.curriculum_Card h5 {
    color: rgba(32, 32, 32, 1);
    font-style: Bold;
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
}

.curriculum_Card p {
    color: rgba(128, 128, 128, 1);
    font-style: Medium;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
}

.card_Button {
    font-size: 16px;
    font-weight: 500;
    line-height: 28.3px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/*      =================== ================ ===================         
        =================== Responsive  part ===================         
        =================== ================ ===================         */

@media screen and (max-width:576px) {
    .container {
        padding: 0 16px;
    }

    .navborder {
        border-bottom: 0.5px solid var(--Orange, rgba(254, 163, 1, 1));
    }

    .navLogo img {
        width: 46px;
    }

    .navTitle {
        display: none;
    }

    .navMenu {
        display: block;
    }

    .navContuct,
    .navItemAll {
        display: none;
    }

    .bannerContainer {
        flex-direction: column-reverse;
    }

    .bannerHeading {
        font-size: 32px;
        line-height: 40px;
        /* width: 320px; */
    }

    .banerDetails {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    .bannerHeading,
    .banerDetails {
        width: auto;
    }

    .banar_content {
        text-align: center;
    }
}