* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* Navbar style */
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navLogo {
    display: flex;
    align-items: center;
    gap: 11px;
}

.navTitle {
    color: rgba(17, 17, 17, 1);
    font-family: Quicksand;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.navItemAll>ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.navItemAll>ul a {
    text-decoration: none;
    font-family: Quicksand;
    font-style: Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.navItem_Color_Orange {
    color: rgba(254, 163, 1, 1);
}

.navItem_Color_SkyBlue {
    color: rgba(1, 172, 253, 1);
}

.navItem_Color_sky {
    color: rgba(5, 212, 223, 1);
}

.navItem_Color_Violet {
    color: rgba(93, 88, 239, 1);
}

.navButton {
    color: rgba(255, 255, 255, 1);
    font-family: Quicksand;
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 60px;
    background-color: rgba(254, 163, 1, 1);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.navMenu {
    display: none;
}

/* bannar section */
.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    gap: 50px;
}

.bannerHeading {
    font-family: Quicksand;
    font-style: Bold;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    padding-bottom: 24px;
    width: 550px;
}

.banerDetails {
    color: var(--Black, rgba(17, 17, 17, 1));
    width: 640px;
    font-family: Quicksand;
    font-style: Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 24px;
}

.banerBtn {
    color: rgba(255, 255, 255, 1);

    font-family: Quicksand;
    font-style: Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    background-color: black;
}

.banerImage img {
    width: 100%;
}

/*      =================== ================ ===================         
        =================== Responsive  part ===================         
        =================== ================ ===================         */

@media screen and (max-width:576px) {
    .container {
        padding: 0 16px;
    }

    .navborder {
        border-bottom: 0.5px solid var(--Orange, rgba(254, 163, 1, 1));
    }

    .navLogo img {
        width: 46px;
    }

    .navTitle {
        display: none;
    }

    .navMenu {
        display: block;
    }

    .navContuct,
    .navItemAll {
        display: none;
    }

    .bannerContainer {
        flex-direction: column-reverse;
    }

    .bannerHeading {
        font-size: 32px;
        line-height: 40px;
        /* width: 320px; */
    }

    .banerDetails {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    .bannerHeading,
    .banerDetails {
        width: auto;
    }

    .banar_content {
        text-align: center;
    }
}